<!DOCTYPE html>
<html data-ng-app="myApp">

<head>




  <link rel="stylesheet" type="text/css" href="media_button_bar/css/media_button_bar.css">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="app_framework/css/af.ui.min.css">
  <link rel="stylesheet" type="text/css" href="app_framework/css/icons.min.css">
  <link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
  <title>TT Police Service</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <style type="text/css">
    /* Prevent copy paste for all elements except text fields */
    *  { -webkit-user-select:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0); }
    input, textarea  { -webkit-user-select:text; }
      
    .locationafter:after {
      font-family: 'IcoMoon'!important;
      content: "\66"!important;
    }
      
    div.olControlAttribution, div.olControlScaleLine {
          font-family: Verdana;
          font-size: 0.7em;
          bottom: 3px;
      }

  </style>
  <script src="http://openlayers.org/api/OpenLayers.js"></script>
    
  <script src="intelxdk.js"></script>
  <script type="text/javascript">
    /* This code is used to run as soon as Intel activates */
    var onDeviceReady=function(){
      //hide splash screen
      intel.xdk.device.hideSplashScreen();
    };
    document.addEventListener("intel.xdk.device.ready",onDeviceReady,false);
      
    var map;  
    var markers;  
      
    function loadedMapPanel() {
      map.updateSize();
    }
  </script>
  <script type="application/javascript" src="app_framework/appframework.min.js"></script>
  <script type="application/javascript" src="app_framework/appframework.ui.min.js"></script>
  <script type="application/javascript" src="phonegap.js"></script>
  <script type="application/javascript" src="js/app.js"></script>    
  <script type="application/javascript" src="js/latlon.js">/* Latitude/Longitude formulae */</script>
  <script type="application/javascript" src="js/geo.js">/* Geodesy representation conversions */</script>  
  <script type="application/javascript" src="js/angular.min.js"></script>
  <script type="application/javascript" src="js/angular.myapp.js"></script>
    

</head>

<body id="afui" onload="init();">


  <div id="navbar">
    <a href="#main" id="navbar_home" class="icon home">Home</a>
    <a href="#stations" id="navbar_stations" class="icon paper">Stations</a>
    <a href="#about" id="navbar_about" class="icon question">About</a>
  </div>


  <!-- content goes here-->
  <div class="uwrap" id="content">
    <div title="TT Police Service" id="main" class="panel" data-tab="navbar_home" selected="true" data-load="loadedPanel">
      <header>
        <h1>TT Police Service</h1>
        <div class="widget-container wrapping-col single-centered"></div>
        <div class="widget-container content-area horiz-area wrapping-col left"></div>
        <div class="widget-container content-area horiz-area wrapping-col right">
          <a class="button widget uib_w_3 d-margins icon close" data-uib="app_framework/button" href="javascript:exitApp()">Exit</a>
        </div>
      </header>
      <br/>
      <ul class="list inset">
        <li class="divider">Emergency Numbers</li>
        <li><a href="tel:999" id="aflink" class="icon phone big" data-transition="none">999 - Police</a>
        </li>
        <li><a href="tel:990" id="aflink" class="icon phone big" data-transition="none">990 - Fire and Ambulance</a>
        </li>
        <li><a href="tel:555" id="aflink" class="icon phone big" data-transition="none">555 - Anti Crime Hotline</a>
        </li>
        <li><a href="tel:6236793" id="aflink" class="icon phone big" data-transition="none">6236793 - Kidnapping Hotline</a>
        </li>
        <li class="divider">Closest Police Station</li>
        <li id="closestpolicestationdata"><a class="theme theme-none" id="aflink" href="#displayonmap">No GPS detected</a>
        </li>
        <li class="divider">Where to go if I am in car accident?</li>  
        <li>Unfortunately, the data for the domain of the Police station to go to in the event of an accident is not yet available online. You can try the closest police station, however this is not always correct. If it is not, the nearest police station personnel should be able to direct you where to go.
        </li>
        <li class="divider">Where did my wrecked car go?</li>  
        <li>Unfortunately, the data for the location of wrecked cars is not yet available online. You can try calling the closest police station and they should be able to direct you where to go.
        </li>          
      </ul>
    </div>

    <div title="TT Police Service - Display on map" id="displayonmap" class="panel" data-tab="navbar_home" data-load="loadedMapPanel">
      <header>
        <h1>TT Police Service</h1>
        <div class="widget-container wrapping-col single-centered"></div>
        <div class="widget-container content-area horiz-area wrapping-col left">
          <a class="button widget uib_w_3 d-margins icon back" data-uib="app_framework/button" href="javascript:history.go(-1)">Back</a>
        </div>
        <div class="widget-container content-area horiz-area wrapping-col right">
          <a class="button widget uib_w_3 d-margins icon close" data-uib="app_framework/button" href="javascript:exitApp()">Exit</a>
        </div>
      </header>
      <div id="map" style="height: 230px; width:230px"></div>
      <div>
        <ul class="list inset">
            <li id="closestpolicestationdataformap"></li>
        </ul>    
      </div>
    </div>      
      
    <div title="TT Police Service - Stations" id="stations" class="panel" data-tab="navbar_stations" data-load="loadedPanel">
      <header>
        <h1>TT Police Service</h1>
        <div class="widget-container wrapping-col single-centered"></div>
        <div class="widget-container content-area horiz-area wrapping-col left"></div>
        <div class="widget-container content-area horiz-area wrapping-col right">
          <a class="button widget uib_w_3 d-margins icon close" data-uib="app_framework/button" href="javascript:exitApp()">Exit</a>
        </div>
      </header>
      <h2 style="align:left">Stations</h2> <textarea class="wide-control" placeholder="Search Stations" rows="2" wrap="soft" ng-model="searchText"></textarea>
      <ul class="list inset" data-ng-controller="myAppController" id="policeStationList">
        <li class="divider">PORT OF SPAIN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('PORT OF SPAIN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a>  
          </li>
        <li class="divider">WESTERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('WESTERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">CENTRAL</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('CENTRAL') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">SOUTHERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('SOUTHERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">SOUTH WESTERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('SOUTH WESTERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">NORTHERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('NORTHERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">EASTERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('EASTERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">NORTH EASTERN</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('NORTH EASTERN') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
        <li class="divider">TOBAGO</li>
        <li data-ng-repeat="policeStation in policeStationByDivision('TOBAGO') | filter:searchText ">{{ policeStation.station }}<br/>{{ policeStation.address }}<span ng-if="policeStation.distance != ''"><br/>Approx Distance: {{ policeStation.distance }} KM</span><br/><br/>
          <a ng-if="policeStation.telephone != ''" href="tel:{{ policeStation.telephone }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone }}</a>
          <br ng-if="policeStation.telephone2 != ''" />
          <a ng-if="policeStation.telephone2 != ''" href="tel:{{ policeStation.telephone2 }}" class="icon phone" data-transition="none">Call {{ policeStation.telephone2 }}</a></li>
      </ul>
    </div>      
      
    <div title="TT Police Service - About" id="about" class="panel" data-tab="navbar_about" data-load="loadedPanel">
      <header>
        <h1>TT Police Service</h1>
        <div class="widget-container wrapping-col single-centered"></div>
        <div class="widget-container content-area horiz-area wrapping-col left"></div>
        <div class="widget-container content-area horiz-area wrapping-col right">
          <a class="button widget uib_w_3 d-margins" data-uib="app_framework/button" href="javascript:exitApp()">Exit</a> 
        </div>
      </header>
      <h2>About</h2>
      <div style="float:right">
        <a href="#diagnostics"><img src="images/ttpslogo.png"></a>
      </div>
      <h2><span style="color:red">Unofficial</span> Trinidad and Tobago Police Service App b20131205 </h2>
      <br>
      <br>
      <h2>by Christopher Ottley</h2>
      <br>
      <h3>Use your mobile phone to quickly find the nearest police station based on your GPS co-ordinates</h3>
      <p>Portions Copyright (c) 2013, Christopher Ottley<br/>All rights reserved.</p>
      <p>Developed using Intel XDK, Intel App Framework, AngularJS, OpenLayers, PhoneGap, GIMP and Google Chrome.</p>
      <p>Police station names, addresses and contact numbers sourced from the Trinidad and Tobago Police Service's website. Rough GPS estimates of GPS locations of Police Stations sourced from OpenStreetMap and Google Maps. All images are copyright to their respective owners.</p>
      <p>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>    
    </div>

    <div title="TT Police Service - Diagnostics" id="diagnostics" class="panel" data-tab="navbar_about" data-load="loadedPanel">
      <header>
        <h1>TT Police Service</h1>
        <div class="widget-container wrapping-col single-centered"></div>
        <div class="widget-container content-area horiz-area wrapping-col left">
          <a class="button widget uib_w_3 d-margins icon back" data-uib="app_framework/button" href="javascript:history.go(-1)">Back</a>
        </div>
        <div class="widget-container content-area horiz-area wrapping-col right">
          <a class="button widget uib_w_3 d-margins" data-uib="app_framework/button" href="javascript:exitApp()">Exit</a> 
        </div>
      </header>
      <h2>Diagnostics</h2>
      <label for="textinputlat">Latitude:</label>
      <input id="textinputlat" placeholder="" value="" type="text" readonly="readonly"/>
      <label for="textinputlon">Longitude:</label>    
      <input id="textinputlon" placeholder="" value="" type="text" readonly="readonly"/> 
    </div>
      

  </div>
  <!-- /uwrap -->

</body>

</html>